body {background-color: rgba(245, 245, 220, 0.3);
    margin-top: 25px;
margin-right: 30px;
margin-left: 30px;
line-height: 23px;
font-size: 18px;}

h2 {color: rgba(95, 59, 56, 1.0);
font: 33px "papyrus", fantasy;}

h1{
    color: rgba(103, 201, 226, 0.8);
    font: 70px "copperplate", fantasy;
    text-align: center;
}

table, th, td {
    border: 1px solid;
}
table {
    width: 60%;
}
th, td {
    height: 35px;
    text-align: center;
}
th {
    font-size: 25px;
}


.reset-btn{
    background-color: rgb(149, 214, 236);
    font-size: 13px;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 20px;
}

.antwort-btn{
    background-color:rgb(255, 255, 255) ;
    font-size: 15px;
    border: 1px solid rgb(0, 0, 0);
    width: 500px;
    padding: 10px;
}

#quizjs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.float-img{
    float: right;
}

.Rassen{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    margin: 15px 0;
}
.Rassen img{
    width: 180px;
    height:130px;
    object-fit: cover;
}
.Rassen h4{
    margin: 0;
}

